@model List<ViewLayoutModel>
@if (Model != null)
{
    <div class="text-center">
        <h3 ><b id="headerText"></b></h3>
    </div>
    <table id="layout-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>UNIT NO</th>
                <th>AREA</th>
                <th>FACING</th>
                <th>MORTAGAGE</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var unit in Model)
            {
                <tr>
                    <td>@unit.UnitNumber</td>
                    <td>@unit.UnitSize</td>
                    <td>@unit.Facing</td>
                    <td>@unit.Mortigaze</td>
                    @if (unit.status == "Booked")
                    {
                        <td><span class="badge badge-danger">@unit.status </span></td>
                    }
                    else if (unit.status == "Blocked")
                    {
                        <td><span class="badge badge-warning">@unit.status</span></td>
                    }
                    else if (unit.status == "Available")
                    {
                        <td><span class="badge badge-success">@unit.status</span></td>
                    }

                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}
<script src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script>
   
        $(document).ready(function () {
            $('#layout-table').DataTable();
            GetUnits();
        });
</script>