@model LayOutViewModel
@{
    ViewData["Title"] = "Index_3";
    @if (!string.IsNullOrEmpty(ViewBag.Type))
    {
        string type = ViewBag.Type;
        if (type == "Admin")
        {
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
        }
        else { Layout = "~/Views/Shared/_Layout.cshtml"; }
    }

}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/prime-01.css">
}
   @if (Model.Type == "Admin") { 
   <section class="counter-part my-4">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-8 col-lg-6">
                        <div class="counter-block">
                            <div class="hold">
                                <h4>Hold &nbsp;&nbsp;</h4>
                                <span class="counter counter-count">@Model.BolckedUnits </span>
                            </div>

                            <div class="available">
                                <h4>Available &nbsp;&nbsp;</h4>
                                <span class="counter counter-count">@Model.AvailableUnits</span>
                            </div>
                            <div class="sold">
                                <h4>Sold &nbsp;&nbsp;</h4>
                                <span class="counter counter-count">@Model.BookedUnits</span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
   }
        <section class="map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1365 697" style="enable-background:new 0 0 1365 697;" xml:space="preserve">
                   
                   <image style="overflow:visible;enable-background:new;" width="800" height="434" xlink:href="/img/EFED2ABA.jpeg"  transform="matrix(1.5858 0 0 1.5858 48.6703 3.9562)">
                   </image>
                   <polygon class="st35" points="471.1,31.1 471.1,137.5 442.3,137.5 442.3,175.4 286,175.4 314.9,86.3 374.9,31.1 "  id="prime-6" />
                   <path class="st35" id="prime-28" d="M956.4,49.3v83.9h146.1l-13.4-63.3C1089.1,69.9,1010.1,36.6,956.4,49.3z"/>
                   <polygon class="st35" points="822.4,46.4 822.4,133.2 956.4,133.2 956.4,49.3" />
                   <rect x="822.4" y="133.2" class="st35" width="109.7" height="78.9" id="prime-20"/>
                   <rect x="822.4" y="212" class="st35" width="109.7" height="78.9" id="prime-21"/>
                   <rect x="932.1" y="133.2" class="st35" width="107.6" height="78.9" id="prime-27"/>
                   <rect x="932.1" y="212" class="st35" width="107.6" height="78.9" id="prime-26"/>
                   <rect x="822.4" y="292.2" class="st35" width="109.7" height="78.9" id="prime-22"/>
                   <rect x="932.1" y="292.2" class="st35" width="107.6" height="78.9" id="prime-25"/>
                   <path class="st35" id="prime-23" d="M932.1,501.9l-62.8,9.5c0,0-32.5,8.6-46.1-29.4c-0.5-1.4-0.8-2.9-0.8-4.4V371.1h109.7L932.1,501.9L932.1,501.9z
                       "/>
                   <path class="st35" id="prime-24" d="M1039.7,458.2v-87.1H932.1v130.8l62-8.1c0.8-0.1,1.5-0.2,2.3-0.2C1002.5,493.3,1036.8,490.4,1039.7,458.2z"/>
                   <text transform="matrix(1 0 0 1 873.4614 92.6267)" class="st36 st37 st38">19</text>
                   <text transform="matrix(1 0 0 1 858.8243 109.3078)" class="st36 st37 st38">287 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 1007.5712 92.6265)" class="st36 st37 st38">28</text>
                   <text transform="matrix(1 0 0 1 992.9343 109.3075)" class="st36 st37 st38">287 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 969.1976 175.3518)" class="st36 st37 st38">27</text>
                   <text transform="matrix(1 0 0 1 954.5607 192.0328)" class="st36 st37 st38">213 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 971.9669 252.9122)" class="st36 st37 st38">26</text>
                   <text transform="matrix(1 0 0 1 957.3299 269.5932)" class="st36 st37 st38">213 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 860.8018 252.9123)" class="st36 st37 st38">21</text>
                   <text transform="matrix(1 0 0 1 846.1649 269.5933)" class="st36 st37 st38">213 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 863.571 331.4507)" class="st36 st37 st38">22</text>
                   <text transform="matrix(1 0 0 1 848.9341 348.1318)" class="st36 st37 st38">213 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 973.1534 330.4508)" class="st36 st37 st38">25</text>
                   <text transform="matrix(1 0 0 1 958.5165 347.1319)" class="st36 st37 st38">213 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 971.9667 423.3519)" class="st36 st37 st38">24</text>
                   <text transform="matrix(1 0 0 1 954.3298 440.033)" class="st36 st37 st38">333 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 860.8019 431.3517)" class="st36 st37 st38">23</text>
                   <text transform="matrix(1 0 0 1 849.165 448.0327)" class="st36 st37 st38">370 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 862.802 174.121)" class="st36 st37 st38">20</text>
                   <polygon class="st35" points="612.8,40.2 612.8,139.9 719.6,139.9 719.6,42.2 " id="prime-18"/>
                   <text transform="matrix(1 0 0 1 848.165 190.802)" class="st36 st37 st38">213 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 651.6011 89.6149)" class="st36 st37 st38">18</text>
                   <text transform="matrix(1 0 0 1 636.964 106.296)" class="st36 st37 st38">278 SQ Yard</text>
                   <rect x="502.8" y="139.9" class="st35" width="110" height="79.1" id="prime-8" />
                   <text transform="matrix(1 0 0 1 549.964 179.7002)" class="st36 st37 st38">8</text>
                   <text transform="matrix(1 0 0 1 528.3268 196.3813)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="612.8" y="139.9" class="st35" width="106.8" height="79.1" id="prime-17"/>
                   <text transform="matrix(1 0 0 1 653.942 179.7002)" class="st36 st37 st38">17</text>
                   <text transform="matrix(1 0 0 1 638.3049 196.3813)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="612.8" y="219" class="st35" width="106.8" height="79.1" id="prime-16"/>
                   <text transform="matrix(1 0 0 1 653.942 258.8432)" class="st36 st37 st38">16</text>
                   <text transform="matrix(1 0 0 1 638.3049 275.5244)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="612.8" y="297.4" class="st35" width="106.8" height="79.1" id="prime-15"/>
                   <text transform="matrix(1 0 0 1 653.942 337.2359)" class="st36 st37 st38">15</text>
                   <text transform="matrix(1 0 0 1 638.3049 353.9171)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="612.8" y="376.6" class="st35" width="106.8" height="79.1" id="prime-14"/>
                   <text transform="matrix(1 0 0 1 653.942 416.3789)" class="st36 st37 st38">14</text>
                   <text transform="matrix(1 0 0 1 638.3049 433.0601)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="502.8" y="219" class="st35" width="110" height="79.1" id="prime-9" />
                   <text transform="matrix(1 0 0 1 549.964 258.8432)" class="st36 st37 st38">9</text>
                   <text transform="matrix(1 0 0 1 528.3268 275.5244)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="502.8" y="298.2" class="st35" width="110" height="79.1" id="prime-10" />
                   <text transform="matrix(1 0 0 1 542.964 337.9862)" class="st36 st37 st38">10</text>
                   <text transform="matrix(1 0 0 1 528.3268 354.6674)" class="st36 st37 st38">213 SQ Yard</text>
                   <rect x="502.8" y="377.3" class="st35" width="110" id="prime-11" height="79.1"/>
                   <text transform="matrix(1 0 0 1 542.964 417.1292)" class="st36 st37 st38">11</text>
                   <text transform="matrix(1 0 0 1 528.3268 433.8104)" class="st36 st37 st38">213 SQ Yard</text>
                   <path class="st35" d="M612.8,549l-60.5,9.5c0,0-41.5,5.1-49.5-31.6v-70.4h110V549z" id="prime-12"/>
                   <path class="st35" d="M719.6,507.6c0,0-2.4,21.6-26.9,29.5L612.8,549v-92.5l106.8-0.8V507.6z" id="prime-12/A"/>
                   <text transform="matrix(1 0 0 1 638.1946 499.2329)" class="st36 st37 st38">12/A</text>
                   <text transform="matrix(1 0 0 1 633.5575 515.9141)" class="st36 st37 st38">231 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 543.3267 502.8947)" class="st36 st37 st38">12</text>
                   <text transform="matrix(1 0 0 1 527.6895 519.5758)" class="st36 st37 st38">268 SQ Yard</text>
                   <polygon class="st35" points="471.1,31.9 471.1,139.9 612.8,139.9 612.8,40.2 " id="prime-7"/>
                   <text transform="matrix(1 0 0 1 533.6895 85.8895)" class="st36 st37 st38">7</text>
                   <text transform="matrix(1 0 0 1 513.0522 102.5707)" class="st36 st37 st38">370 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 374.5684 101.3071)" class="st36 st37 st38">6</text>
                   <text transform="matrix(1 0 0 1 353.9312 117.9883)" class="st36 st37 st38">540 SQ Yard</text>
                   <path class="st35" d="M330.8,301.7h77c0,0,30.6-9.5,31.1-29v-97.3H330.8V301.7z" id="prime-5" />
                   <polygon class="st35" points="330.8,334.4 221.1,337 219,249.5 229.5,200.4 274.9,207.8 286,175.4 330.8,175.4" id="prime-4" />
                   <path class="st35" d="M330.8,366.1h77.5c0,0,28.5,12.7,30.6,31.6v92.8H330.8V366.1z" id="prime-2" />
                   <polygon class="st35" points="265.4,490.5 224.8,450.5 221.1,337 330.8,334.4 330.8,490.5 " id="prime-3" />
                   <polygon class="st35" points="439,636.6 402.6,631.9 264.9,492.6 439,490.5  " id="prime-1" />
                   <text transform="matrix(1 0 0 1 374.5685 233.6149)" class="st36 st37 st38">5</text>
                   <text transform="matrix(1 0 0 1 353.9313 250.2961)" class="st36 st37 st38">329 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 269.6675 267.1838)" class="st36 st37 st38">4</text>
                   <text transform="matrix(1 0 0 1 249.0303 283.8649)" class="st36 st37 st38">385 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 264.8901 400.4482)" class="st36 st37 st38">3</text>
                   <text transform="matrix(1 0 0 1 244.2529 417.1294)" class="st36 st37 st38">402 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 374.5685 419.9561)" class="st36 st37 st38">2</text>
                   <text transform="matrix(1 0 0 1 353.9313 436.6372)" class="st36 st37 st38">329 SQ Yard</text>
                   <text transform="matrix(1 0 0 1 374.5688 537.4389)" class="st36 st37 st38">1</text>
                   <text transform="matrix(1 0 0 1 353.9315 554.1201)" class="st36 st37 st38">372 SQ Yard</text>
                   </svg>
                        
                    </div>
                </div>
            </div>
        </section>   
<!-- Popup -->
        <section class="popup">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-6">
                        <div class="prime-modal1">
                            <div class="modal fade" id="BlockModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Plot Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="info">
                                                <div class="plot-info">

                                                    <ul class="plot-info-ul">
                                                        <li id="plotNo"></li>
                                                        <li id="Size"></li>
                                                        <li id="Facing"></li>
                                                    </ul>

                                                    <div id="timer">
                                                        <!-- <div id="days"></div> -->
                                                        <div id="hours"></div>
                                                        <div id="minutes"></div>
                                                        <div id="seconds"></div>
                                                    </div>

                                                </div>

                                                <div class="block-info mt-5">
                                                    <button class="btn  book-btn" onclick="DataBinding()">Booking</button>
                                                    <p class="book-text"><i class="fas fa-check-circle book-icon mr-3"></i>Booking Successfully....</p>
                                                    <button class="btn  cancel-btn ml-0">Cancel Booking</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="modal-footer">
                                     <div class="user-details">
                                          <h4>Your Name : ..........</h4>
                                     </div>
                                </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="ProjectId" value="@Model.ProjectId" />
            <input type="hidden" id="Type" value="@Model.Type" />
        </section>
<input type="hidden" id="hdnProjectName" />
<input type="hidden" id="hdnProjectId" />
<input type="hidden" id="hdnexpiryDate" />
@section Scripts{
    <script src="/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $("#timer").hide();
            $("polygon").click(function () { 
                debugger
                var className = $(this).attr("class");
                if (className ==="st35 bg-red") {
                    alert("This unit was already blocked");
                } else if (className ==="st35 bg-booked") { alert("This Unit already booked by some one"); } else {
                    $(this).toggleClass("bg-red")
                    ModelBinding(this.id);
                }
            });
            $("rect").click(function () {
                debugger
                var className = $(this).attr("class");
                if (className ==="st35 bg-red") {
                    alert("This unit was already blocked");
                } else if (className ==="st35 bg-booked") { alert("This Unit already booked by some one"); } else {
                    $(this).toggleClass("bg-red")
                    ModelBinding(this.id);
                }
            });
            $("path").click(function () {
                debugger
                var className = $(this).attr("class");
                if (className ==="st35 bg-red") {
                    alert("This unit was already blocked");
                } else if (className ==="st35 bg-booked") { alert("This Unit already booked by some one"); } else {
                    $(this).toggleClass("bg-red")
                    ModelBinding(this.id);
                }
            });
            $(".book-btn").click(function () {
                $(this).hide();
                $(".book-text").addClass("book-text-show");
                $(".cancel-btn").addClass("cancel-btn-show");
                $("#timer").show();
            });
            GetUnitsData();
        });
        function GetUnitsData() {
            $.ajax({
                type: "POST",
                url: "/ProjectLayout/GetUnitDataFromDb",
                data: { "id": $("#ProjectId").val() },
                success: function (response) {
                    debugger
                    for (var i = 0; i <= response.length - 1; i++) {
                        if (response[i] != null) {
                            if (response[i].status ==="Blocked") {
                                $("#"+response[i].projectName.toLowerCase()+"-" + response[i].unitNumber).addClass("st35 bg-red");
                            }
                            if (response[i].status ==="Booked") {
                                $("#" +response[i].projectName.toLowerCase()+"-" + response[i].unitNumber).addClass("st35 bg-booked");
                            }
                        }
                    }
                },
                failure: function (response) {
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function ModelBinding(id) {
            $("#hdnProjectName").val(id);

            $.ajax({    
                type: "POST",
                url: "/ProjectLayout/GetUnitDetails",
                data: { "id": id },
                success: function (response) {
                    debugger
                    $("#hdnProjectId").val(response.projectId);
                    if (response.status == "Available" || response.status == null) {
                        $("#plotNo").html("<span id='spnplot'>Plot No:</span>&nbsp;&nbsp;" + response.unitNumber + "");
                        $("#Size").html("<span id='spnsize' >Size:</span>&nbsp;&nbsp;" + response.unitSize + "");
                        $("#Facing").html("<span id='spnFacing'>Facing:</span>&nbsp;&nbsp;" + response.facing + "");
                        $("#BlockModal1").modal('show');
                    } else { alert("Unit Already '" + response.status+"' by SomeOne");}                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function DataBinding() {
            var plotNo = $("#plotNo").text();
            var Size = $("#Size").text();
            var Facing = $("#Facing").text();
            var projectName = $("#hdnProjectName").val();
            var projectId = $("#hdnProjectId").val();
            var id = plotNo + "," + Size + "," + Facing + "," + projectName + "," + projectId;
            var type = $("#Type").val();
            if (type == "Admin") {
                $.ajax({
                    type: "POST",
                    url: "/AdminOperations/AdminsDataIntoDb",
                    data: { "id": id },
                    success: function (response) {
                        alert(response.expiryDate);
                        $("#hdnexpiryDate").val(response.expiryDate);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            } else if (type == "Agent") {
                $.ajax({
                    type: "POST",
                    url: "/AgentOperations/AgentsDataIntoDb",
                    data: { "id": id },
                    success: function (response) {
                        alert(response.expiryDate);
                        $("#hdnexpiryDate").val(response.expiryDate);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            } else { }

        }
    </script>
}